*{
    border: 1px solid black;
    margin: 10px;
}
img{
    border-radius: 50%;
}
body{
    background:rgb(70, 176, 211);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
a{
    color: rgb(151, 108, 64);
}
h1{
    text-transform: uppercase;
}